
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.rdrDay .rdrInRange,
.rdrDay .rdrStartEdge,
.rdrDay .rdrEndEdge,
.rdrDay .rdrDayNumberWrapper[aria-pressed="true"] {
  background-color: #063455 !important;
  color: white !important;
}

.rdrDay .rdrInRange {
  background-color: rgba(6, 52, 85, 0.3) !important;
}

/* Selected day */
.rdrDayNumberWrapper span[style*="background-color"] {
  background-color: #063455 !important;
  color: white !important;
}

/* Hover fix */
.rdrDayNumberWrapper:hover {
  background-color: rgba(6, 52, 85, 0.1) !important;
}

/* .rdrYearDropdownMenu .rdrDropdownMenuItem:not(.rdrDropdownMenuItem--selected):not([data-year*="${new Date().getFullYear()}"]):not([data-year*="${new Date().getFullYear()-1}"]):not([data-year*="${new Date().getFullYear()-2}"]):not([data-year*="${new Date().getFullYear()-3}"]):not([data-year*="${new Date().getFullYear()-4}"]) {
  display: none !important;
} */

.rdrYearDropdownMenu .rdrDropdownMenuItem {
  position: relative;
}

.rdrYearDropdownMenu [data-year]:not([data-year="2022"]):not([data-year="2023"]):not([data-year="2024"]):not([data-year="2025"]):not([data-year="2026"]) {
  display: none !important;
}
